<app-navbar></app-navbar>
<div class="px-5 mx-auto sm:p-10 md:px-16 text-gray-800">
  <div class="flex flex-col max-w-5xl mx-auto overflow-hidden rounded">
    <!---------------------------- Header image ----------------->
    <img
      src="assets/images/image2.jpg"
      alt=""
      class="w-full object-cover h-60 sm:h-96 bg-gray-500"
    />

    <!------------- Card container for statistics and charts -------------------->
    <div
      class="p-3 pb-3 m-4 mx-auto -mt-16 space-y-6 sm:px-10 sm:mx-12 lg:rounded-md bg-gray-50 shadow-lg"
    >
      <!-- ------------------------Section for statistics ------------------------>
      <section class="p-6 my-6 bg-red-100 text-gray-800">
        <div
          class="container grid grid-cols-1 gap-6 mx-auto sm:grid-cols-2 lg:grid-cols-3"
        >
          <div
            class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800"
          >
            <div
              class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-red-900"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-9 w-9"
                viewBox="0 -960 960 960"
                fill="#e8eaed"
              >
                <path
                  d="M240-200v40q0 17-11.5 28.5T200-120h-40q-17 0-28.5-11.5T120-160v-320l84-240q6-18 21.5-29t34.5-11h100v-80h240v80h100q19 0 34.5 11t21.5 29l84 240v320q0 17-11.5 28.5T800-120h-40q-17 0-28.5-11.5T720-160v-40H240Zm-8-360h496l-42-120H274l-42 120Zm-32 80v200-200Zm100 160q25 0 42.5-17.5T360-380q0-25-17.5-42.5T300-440q-25 0-42.5 17.5T240-380q0 25 17.5 42.5T300-320Zm360 0q25 0 42.5-17.5T720-380q0-25-17.5-42.5T660-440q-25 0-42.5 17.5T600-380q0 25 17.5 42.5T660-320Zm-460 40h560v-200H200v200Z"
                />
              </svg>
            </div>
            <div class="flex flex-col justify-center align-middle">
              <p class="text-3xl font-semibold leading-none">
                {{ numberOfCars }}
              </p>
              <p class="capitalize">{{translationService.translate("allCars")}}</p>
            </div>
          </div>
          <div
            class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800"
          >
            <div
              class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-red-900"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-9 w-9"
                viewBox="0 -960 960 960"
                fill="#e8eaed"
              >
                <path
                  d="M756-120 537-339l84-84 219 219-84 84Zm-552 0-84-84 276-276-68-68-28 28-51-51v82l-28 28-121-121 28-28h82l-50-50 142-142q20-20 43-29t47-9q24 0 47 9t43 29l-92 92 50 50-28 28 68 68 90-90q-4-11-6.5-23t-2.5-24q0-59 40.5-99.5T701-841q15 0 28.5 3t27.5 9l-99 99 72 72 99-99q7 14 9.5 27.5T841-701q0 59-40.5 99.5T701-561q-12 0-24-2t-23-7L204-120Z"
                />
              </svg>
            </div>
            <div class="flex flex-col justify-center align-middle">
              <p class="text-3xl font-semibold leading-none">
                {{ numberOfJobs }}
              </p>
              <p class="capitalize">{{translationService.translate("allJobs")}}</p>
            </div>
          </div>
          <div
            class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800"
          >
            <div
              class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-red-900"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-9 w-9"
                viewBox="0 -960 960 960"
                fill="#e8eaed"
              >
                <path
                  d="M440-80v-120H160v-80h640v80H520v120h-80Zm-80-420q17 0 28.5-11.5T400-540q0-17-11.5-28.5T360-580q-17 0-28.5 11.5T320-540q0 17 11.5 28.5T360-500Zm240 0q17 0 28.5-11.5T640-540q0-17-11.5-28.5T600-580q-17 0-28.5 11.5T560-540q0 17 11.5 28.5T600-500ZM200-616l66-192q5-14 16.5-23t25.5-9h344q14 0 25.5 9t16.5 23l66 192v264q0 14-9 23t-23 9h-16q-14 0-23-9t-9-23v-48H280v48q0 14-9 23t-23 9h-16q-14 0-23-9t-9-23v-264Zm106-64h348l-28-80H334l-28 80Zm-26 80v120-120Zm0 120h400v-120H280v120Z"
                />
              </svg>
            </div>
            <div class="flex flex-col justify-center align-middle">
              <p class="text-3xl font-semibold leading-none">
                {{ numberOfInProgressJobs }}
              </p>
              <p class="capitalize">{{translationService.translate("inProgressJobs")}}</p>
            </div>
          </div>
        </div>
      </section>

      <!-------------------------------- Charts and statistics -------------------------------->
      <div class="flex flex-col md:flex-row md:justify-between">
        <div class="w-full md:w-1/2 px-4 md:px-14">
          <canvas id="doughnutChart" class="w-full">{{ chart }}</canvas>
        </div>
        <div class="w-full md:w-1/2 px-4 md:px-14 my-auto font-bold">
          <p class="p-2">
            {{translationService.translate("completedJobs")}}: {{ numberOfCompleterdJobs }} ({{
              getPercentage(numberOfCompleterdJobs) | number : "1.2-2"
            }}%)
          </p>
          <p class="p-2">
            {{translationService.translate("notStartedJobs")}}: {{ numberOfNotStartedJobs }} ({{
              getPercentage(numberOfNotStartedJobs) | number : "1.2-2"
            }}%)
          </p>
          <p class="p-2">
            {{translationService.translate("inProgressJobs")}}: {{ numberOfInProgressJobs }} ({{
              getPercentage(numberOfInProgressJobs) | number : "1.2-2"
            }}%)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
